{% extends "layout.html.twig" %}

{% set active = "connexion" %}

{% block page_title %}
    {% trans from 'navigation' %}nav.login{% endtrans %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">

            <h2 class="text-center">
                {% trans from 'navigation' %}nav.login{% endtrans %}
            </h2>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% for message in app.flashes('notice') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}

            {{ form(form) }}

        </div>
    </div>
{% endblock %}
