{% extends "layout.html.twig" %}

{% set active = 'index' %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="index.css">#}
    <style>
        .grid-sizer,
        .grid-item { width: calc( (100% / 3) - 20px); }
    </style>
{% endblock %}

{% block content %}

{#{% dump articles  %}#}
{#{{ dump(app.user) }}#}

<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        <div class="box-caption">
            <span>spotlight</span>
        </div>
        <!--spotlight-->
        <section class="owl-carousel owl-spotlight">
            {% for article in spotlight %}
                {% include 'components/_spotlight.html.twig' %}
            {% endfor %}
        </section>

        <!--spotlight-thumbs-->
        <section class="spotlight-thumbs">
            <div class="row grid">
                <div class="grid-sizer"></div>
                {% for article in articles %}
                    {% include 'components/_spotlight-thumbs.html.twig' %}
                {% endfor %}
            </div>
        </section>
    </div>

    {# Sidebar #}
    {#{% include 'components/_sidebar.html.twig' %}#}
    {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebar')) }}

    {% endblock %}

    {% block final_javascripts %}
        {{ parent() }}
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
        <script>
            $(function() {
                var $grid = $('.grid').masonry({
                    itemSelector: '.grid-item',
                    columnWidth: '.grid-sizer',
                    percentPosition: true,
                    gutter: 15
                });
                $grid.imagesLoaded().progress( function() {
                    $grid.masonry('layout');
                });
            })
        </script>
    {% endblock %}
    